.Book {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}

.box1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="search"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 5px;
  margin-top: 12px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
