/* Global Styles */
.bgcontainer {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 9%;
  box-sizing: border-box;
}

/* Heading Styles */
.bgcontainer h1 {
  font-size: 35px;
  line-height: 75px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  text-transform: uppercase;
  margin: 0;
}

/* Paragraph Styles */
.bgcontainer p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  text-transform: uppercase;
  margin: 0;
}

/* Row and Column Styles */
.row {
  display: flex;
  height: 55%;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

/* Checkbox Styles */
.checked {
  color: orange;
}

/* Label Styles */
label {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 10px;
  color: #ddd;
  font-size: 18px;
}

/* Select Styles */
select {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 42px;
}

/* Fieldset Styles */
fieldset {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  width: 376px;
  height: 500px;
  margin-bottom: -130px;
}

legend {
  color: #ddd;
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

/* Submit Button Styles */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 18px 33px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  font-size: 16px;
  float: right;
  margin-top: 96px;
}

input[type="submit"]:hover {
  background-color: rgb(1, 177, 221);
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
  margin-top: 150px;
  padding-right: 10px;
}

/* Card Details Styles */
.card-details {
  flex: 2;
  padding: 0 10px;
  margin: 10px;
}

.card-details h3 {
  font-size: larger;
  color: aliceblue;
}

/* More Info Styles */
.moreInfo {
  margin-top: 10px;
  text-align: center;
}

.moreInfo button:hover {
  background-color: #046daa;
  color: white;
}

/* Logo Styles */
.plogo {
  width: 150px;
  height: 100px;
  align-items: center;
  border-radius: 5px;
  margin-right: -41px;
  float: right;
}
