.header{
    line-height: 25%;
    padding: 2px;
    margin-left: 150px;
    background-color: white;
    font-size: 30px;
}
/* Style the second h3 */
.moved-text {
    text-align: right; /* Align the text to the right */
    margin-top: 5px; /* Add some top margin for spacing */
    margin-right: 520px; /* Add right margin to move it slightly to the right */
}
/* Style the logo */
.logo {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left:10px; /* Adjust the left position as needed */
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
.a{
    line-height: 5%;
    margin-left: 580px;
    margin-top: -70px;
    font-size: large;
}
.butn1{
    font-size: 15px;
    border-radius: 12px;
    position: absolute;
    padding: 12px 28px;
    top: 40px; /* Adjust the top position as needed */
    right: 180px; /* Adjust the left position as needed */
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.usericon{
  position: absolute;
  font-size: 35px;
  padding: 12px 28px;
  top: 31px; /* Adjust the top position as needed */
  right: 2px;
  width: 120px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */

}
.b{
    line-height: 5%;
    font-size: large;
}
.butn2{
    font-size: 15px;
    border-radius: 12px;
    position: absolute;
    padding: 12px 28px;
    top: 40px; /* Adjust the top position as needed */
    right: 50px; /* Adjust the left position as needed */
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(38, 53, 134, 0.5);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #101010;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-style: oblique;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #046daa;
    color: white;
  }
  .topnav input[type=text] {
    border-radius: 12px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 100px;
    font-size: 17px;
    width: 400px;
  }
  .logo2 {
    position: absolute;
    top: 111px; /* Adjust the top position as needed */
    right:25px; /* Adjust the left position as needed */
    width: 38px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    color: rgb(7, 7, 7);
}

.logo3{
  width: 100%;
  height: max-content;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bg.jpg) ;
  background-position: center;
  background-size: 100%;
  padding-left: 100%;
  top: 100px;
}
  
/*footer*/
.body {
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: calc(100vh - 160px);
  background: rgb(255, 248, 248);
  padding: 50px;
}

.footer {
  margin-top: 600px;
  position: relative;
  width: 100%;
  height: 160px;
  padding: 10px 4px; /* Adjusted padding to keep it centered */
  background: rgba(38, 53, 134, 0.5);

}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-gap: 20px;
}

.container .logo {
  position: relative;
  width: 90px;
  height: 90px;
  top: 10px;
  margin-left: 20px;
}

.container .sec h3 {
  position: relative;
  top: 2px;
  text-align: center;
  margin-left: 31px;
  font-size: larger;
}

.support {
  font-weight: bold;
  top: 2px;
}

.Email {
  position: relative;
}

.Email button {
  background: rgb(62, 61, 61);
  border: 2px solid #fff;
  color: white;
  border-radius: 100px;
  padding: 10px 30px;
  font-size: 15px;
  margin-top: 15px;
}

.Email button:hover {
  color: rgb(216, 13, 13);
  background-color: white;
}

.container .sci {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  margin-left: -29px;
}

.container .sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgb(38, 37, 37);
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

.sci li a i {
  color: white;
  font-size: 25px;
}

.sci li a i:hover {
  color: blue;
  background-color: white;
  padding-left: 2px;
}

.support {
  position: relative;
}

.support ul li {
  list-style: none;
}

.support ul li a {
  color: #070707;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
  font-family: sans-serif;
  
}

.support ul li a:hover {
  color: blue;
  padding-left: 2px;
}

.contact {
  position: relative;
  
}

.contact li {
  display: grid;
  grid-template-columns: 40px 2fr;
  margin-bottom: 5px;
  line-height: 5%;
  
}

.contact li span {
  color: rgb(10, 10, 10);
  font-size: 15px;
  margin-top: 9px;
  
}

.contact li a {
  color: #151414;
  text-decoration: none;
}

.contact li a:hover {
  color: blue;
  padding-left: 2px;
}

.contact li span:hover {
  color: blue;
  padding-left: 2px;
}

.copyrightText {
  position: relative;
  text-align: center; /* Center the copyright text */
  margin-top: -50px; /* Adjust as needed */
}

/*table*/
#main-title{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  letter-spacing: 7px;
  font-weight: 500;
}


.tbl{
  width: 100%;
  background-color: #ddd;
  border-style: solid;
  border-color: #070707;
}

.thd{
  background-color: #6db6dd;
}

.tr .td{
  border-collapse: collapse;
  border-style: solid;
  border-color: #070707;
}



.box1 h2{
  float: left;
  margin-top: 1px;
}

#show-register{
  position: absolute;
  left: 650px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  width: 200px;
  color: #ece8e8;
  background: rgb(114, 114, 169);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.all{
  margin-top: 50px;
}

.popup{
  position: absolute;
  top: -85px;
  left: 22%;
  opacity: 0;
  transform: translate(-1%, -10%) scale(1.25);
  width: 800px;
  padding: 25px 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0,15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, 
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup.active{
  top: 70%;
  opacity: 1;
  transform: translate(-1%, -10%) scale(1.25);
  transition: top 0ms ease-in-out 0ms, 
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup .close-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background: #4a4949;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup Form{
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 20px 25px;
  border-radius: 5px;
}

form .title{
  font-size: 25px;
  text-align: center;
  padding: 7px;

}

 form .glogo{
  position: absolute;
  left: 100px; 
  top: 30px; 
  width: 10%; 
  height: 14%
} 

.vehicle-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vehicle-details .input-box{
  margin: 10px 0 10px 0;
  width: calc(100% / 3 - 20px);
}

.vehicle-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.vehicle-details .input-box input{
  height: 20px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
}

.vehicle-details .input-box-vin{
  margin: 10px 0 10px 0;
}

.vehicle-details .input-box-vin .details{
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.vehicle-details .input-box-vin input{
  height: 20px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
}



.user-details{
  display: flexbox;
}

.user-details .input-box{
  margin: 5px 0 5px 0;
}


.user-details .input-box .details{
  display: contents ;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 15px;
  width: 40%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 13px;
  border-bottom-width: 2px;
}

.submit-button button{
  position: absolute;
  width: 25%;
  height: 40px;
  left: 70%;
  bottom: 50px;
  outline: none;
  color: #e6e1e1;
  border: 2px solid black;
  font-size:10px;
  font-weight: 900;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #6e1a74;
}

.submit-button button:hover{
  background: linear-gradient(135deg, #74378d, #195c83);
}

.addvehiclebtn {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 4px; 
  text-align: center; 
  display: inline-block; 
}

.addvehiclebtn:hover {
  background-color: #0056b3; 
}

.adddeletebtn {
  background-color: #ff0000; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 4px; 
  text-align: center; 
  display: inline-block; 
}

.adddeletebtn:hover {
  background-color: #cc0000; 
}

.box1-items div{
  background-color: #03a9f5"
}